<ion-header>
    <ion-toolbar>
        <ion-title class="ion-text-center">
            <bx-header>Préparation des caisses</bx-header>
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <bx-section *ngIf="preparedCrates.length > 0 else noPreparedCrates">
        caisse{{ preparedCrates.length > 1 ? 's' : '' }} préparée{{ preparedCrates.length > 1 ? 's' : '' }}
    </bx-section>
    <bx-card-wrapper *ngFor="let crate of preparedCrates" [leftTitle]="crate.number"
                     rightTitle="Attente expédition">
        <bx-item [leftLabel]="crate.type" icon="checked-green.svg" [bolderLeftLabel]="true"></bx-item>
    </bx-card-wrapper>
    <ng-template #noPreparedCrates>
        <bx-section>Caisse préparée</bx-section>
        <bx-empty icon="loading.svg" label="Aucune caisse préparée" class="h-100"></bx-empty>
    </ng-template>
    <bx-section>caisse{{ pendingCrates.length > 1 ? 's' : '' }} à préparer</bx-section>
    <div class="wrapped-cards">
        <bx-card-wrapper *ngFor="let crate of pendingCrates" [hideTitle]="true" class="wrapped">
            <bx-item [leftLabel]="crate.type" icon="checked-grey.svg" [bolderLeftLabel]="true"
                     (action)="treatCrate(crate.type)">
            </bx-item>
        </bx-card-wrapper>
    </div>
</ion-content>
<ion-footer>
    <bx-button type="outline" label="Terminer" icon="checked-orange.svg" (click)="endCratesPreparation()" [disabled]="pendingCrates.length !== 0"></bx-button>
</ion-footer>
