<ion-header>
    <ion-toolbar>
        <ion-title class="ion-text-center">
            <bx-header>Préparation des caisses</bx-header>
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <bx-section *ngIf="treatedCrates.length > 0 else noTreatedCrates">Caisses préparées</bx-section>
    <bx-card-wrapper *ngFor="let crate of treatedCrates"
                     [leftTitle]="crate.number"
                     rightTitle="Attente expédition">
        <bx-item [leftLabel]="crate.type" icon="checked-green.svg" [bolderLeftLabel]="true"></bx-item>
    </bx-card-wrapper>

    <bx-section>Caisses à préparer</bx-section>
    <div class="wrapped-cards">
        <bx-card-wrapper *ngFor="let crate of untreatedCrates" [hideTitle]="true" class="wrapped">
            <bx-item [leftLabel]="crate.type"
                     icon="checked-grey.svg"
                     [bolderLeftLabel]="true"
                     (action)="treatCrate(crate)">
            </bx-item>
        </bx-card-wrapper>
    </div>
</ion-content>
<ion-footer>
    <bx-button [type]="treatedCrates.length > 0 ? 'primary': 'outline'"
               label="Terminer"
               icon="checked-orange.svg"
               (click)="endCratesPreparation()"
               [disabled]="!allCratesPrepared"></bx-button>
</ion-footer>

<ng-template #noTreatedCrates>
    <bx-section>Caisses préparées</bx-section>
    <bx-empty icon="loading.svg" label="Aucune caisse préparée" class="h-100"></bx-empty>
</ng-template>
