<main *ngIf="deliveryRounds && deliveryRounds.length">
    <div *ngFor="let rounds of deliveryRounds | keyvalue">
        <bx-section><span [innerHTML]="formatSection(rounds.key)"></span></bx-section>
        <bx-card-order-detail *ngFor="let round of rounds.value"
                              [title]="round.joined_clients"
                              [status]="round.status == 'DELIVERY_ROUND_AWAITING_DELIVERER' ? 'A venir chercher' : 'En préparation'"
                              [disabled]="round.status != 'DELIVERY_ROUND_AWAITING_DELIVERER'"
                              [label]="'Dépôt ' + round.depository"
                              [number]="'Tournée N°' + round.number"
                              [crateAmount]="round.crate_amount"
                              [tokenAmount]="round.token_amount"
                              (click)="selectDeliveryRound(round)">

        </bx-card-order-detail>
    </div>
</main>

<main *ngIf="!deliveryRounds || !deliveryRounds.length">
    <bx-section><span [innerHTML]="formatSection()"></span></bx-section>
    <bx-empty label="Aucune livraison" icon="loading.svg" class="h-100"></bx-empty>
</main>
