@import "~style/variables";

.content.border {
    margin: 10px 10px 0 10px;
    border: 1px solid $grey-light;
    border-radius: 5px;
}

.content {
    padding: 5px 10px;
    color: $blue;

    img {
        border-radius: 50%;

        &.grey {
            background: rgba($grey, 10%);
        }

        &.orange {
            background: rgba($orange, 10%);
        }

        &.green {
            background: rgba($green, 10%);
        }
    }

    .bolder {
        font-weight: 600;
        font-size: 22px;
    }
}

.item-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    img {
        width: 40px;
        height: 40px;
    }
}
