@import "~style/variables";

.content.border {
    margin: 10px 10px 0 10px;
    border: 1px solid $grey-light;
    border-radius: 5px;
}

.content {
    padding: 5px 10px;
    color: $blue;

    .circle {
        background: #F2F8F5;
        border-radius: 50%;
    }

    .bolder {
        font-weight: 600;
        font-size: 22px;
    }
}

.item-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .labels {
        display: flex;
        justify-content: space-between;
        width: 100%;

        span {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    img {
        width: 40px;
        height: 40px;
    }
}
