@import "~style/variables";

.content.border {
    margin: 10px 10px 0 10px;
    border: 1px solid $grey-light;
    border-radius: 5px;
}

.content {
    color: $blue;

    img {
        border-radius: 50%;
    }

    .bolder {
        font-weight: 600;
        font-size: 20px;
    }
}

.item-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .labels {
        display: flex;
        justify-content: space-between;
        flex: 1;

        span {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .lite-item {
            width: 100px;
        }

        .subtitle {
            margin-left: 10px;
            font-size: 15px;
            color: $grey-dark;
        }
    }

    .icon-container {
        width: 40px;
        display: flex;
        img {
            flex: 1;
        }
    }
}
