<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
        <bx-header [options]="depositories" (change)="depositoryChanged($event)" shadow>Sélection caisse</bx-header>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="content">
        <bx-section>CAISSE</bx-section>
        <div class="crates" *ngIf="crates">
            <bx-card-wrapper *ngFor="let crate of crates" [rightTitle]="crate.crateNumber" [leftTitle]="crate.crateLocation">
                <bx-item [leftLabel]="crate.crateType" [border]="false" [icon]="'reception/terminer.svg'" (action)="goToCrate(crate.crateNumber)"></bx-item>
            </bx-card-wrapper>
        </div>
    </div>
</ion-content>

<ion-footer>
    <bx-button [label]="'Flasher caisse'" [icon]="'scan.svg'" (action)="goToCrate($event)" [scanner]="true"></bx-button>
</ion-footer>
