@import "~style/variables";

.fields-container {
    margin: 10px;
    color: $blue;

    .split {
        display: flex;
        flex-direction: row;
        width: 100%;

        & > * {
            flex: 1 1 50%;
        }
    }
}
