<h1 #wrapper [hidden]="!hasContent" class="vertical" [class.border]="border !== undefined" [class.shadow]="shadow !== undefined">
    <span><ng-content></ng-content></span>
    <div *ngIf="subtitle" class="subtitle">{{ subtitle }}</div>
</h1>

<h1 *ngIf="options != NO_OPTIONS" class="horizontal" [class.border]="border !== undefined" [class.shadow]="shadow !== undefined">
    <button *ngFor="let option of options"
            [class.active]="value === option.value"
            (click)="select(option.value)">{{ option.label }}</button>
</h1>
