<ion-header>
    <ion-toolbar>
        <ion-title class="ion-text-center">
            <bx-header>Prélèvement d'une caisse</bx-header>
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="content" *ngIf="crateType">
        <span>Sélection d'une caisse</span>
        <span>{{ crateType.type }}</span>
    </div>
    <bx-section>{{ pageSubtitle }}</bx-section>
    <div class="crate-container" *ngFor="let crateData of availableCrates">
        <bx-card-wrapper [leftTitle]="'Emplacement ' + crateData.location">
            <bx-item [leftLabel]="crateType.type"
                     [bolderLeftLabel]="true"
                     [rightLabel]="'x ' + (crateData.crates | length)"
                     [bolderRightLabel]="true">
            </bx-item>
        </bx-card-wrapper>
        <div class="wrapped-cards">
            <bx-card-wrapper *ngFor="let crate of crateData.crates" [hideTitle]="true" class="wrapped">
                <bx-item [leftLabel]="crate.number"
                         icon="checked-grey.svg"
                         (action)="treatCrate(crate)">
                </bx-item>
            </bx-card-wrapper>
        </div>
    </div>
</ion-content>
<ion-footer>
    <bx-button label="Flasher caisse" icon="scan.svg" (scan)="treatCrate($event)" [scanner]="true"></bx-button>
</ion-footer>
