@import "~style/variables";

.content {
    text-align: center;
    margin-top: 20px;

    span {
        color: $blue;
        font-weight: 700;
    }

    .progress-bar-container {
        display: flex;
        justify-content: center;

        span {
            margin-top: 2px;
            margin-right: 18px;
        }

        .progress-bar {
            width: 80%;
            margin: 10px auto 0 auto;
        }
    }
}
