<ion-header>
    <ion-toolbar>
        <ion-title class="ion-text-center">
            <bx-header>Préparation des Box</bx-header>
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="content">
        <span>Caisse {{ crate }}</span>
        <ion-progress-bar class="progress-bar" value="0.3" color="success"></ion-progress-bar>
    </div>
</ion-content>
<ion-footer>
    <bx-button label="Flasher Box" icon="scan.svg" (click)="scanCrate($event)" [scanner]="true">
    </bx-button>
    <bx-button label="Terminer" icon="checked-orange.svg" [addCircle]="true" (click)="endPicking($event)"
               [light]="true">
    </bx-button>
</ion-footer>
