<main *ngIf="deliveryRound">
    <bx-header [subtitle]="'N°' + deliveryRound.number">Livraison de la tournée</bx-header>
    <bx-section>Circuit des livraisons</bx-section>
    <bx-card-client *ngFor="let order of deliveryRound.orders; let i = index"
                    [title]="(i + 1) + '. ' + order.client.name"
                    [address]="order.client.address"
                    [deliverer]="order.client.contact"
                    [phoneNumber]="order.client.phone"
                    [crateAmount]="order.crate_amount"
                    [tokenAmount]="order.token_amount">

    </bx-card-client>
</main>
