<ion-content *ngIf="deliveryRound">
    <main *ngIf="deliveryRound">
        <bx-header [subtitle]="'N°' + deliveryRound.number">Livraison de la tournée</bx-header>
        <div id="map"></div>

        <bx-section>Circuit des livraisons</bx-section>
        <div class="scrollable">
            <bx-card-delivery *ngFor="let order of deliveryRound.orders"
                              [disabled]="!order.taken || order.delivered"
                              [title]="order.order + '. ' + order.client.name"
                              [address]="order.client.address"
                              [deliverer]="order.client.contact"
                              [phoneNumber]="order.client.phone"
                              [crateAmount]="order.crate_amount"
                              [tokenAmount]="order.token_amount"
                              [canNavigate]="!order.delivered"
                              (click)="startDeposit(order)"
                              (navigate)="navigate(order)">

            </bx-card-delivery>
        </div>
    </main>
</ion-content>
<ion-footer>
    <bx-button label="Récupérer tout" (click)="pickEverything()"></bx-button>
</ion-footer>
