@import "~style/variables";

.card {
    border: 1px solid $grey-light;
    border-radius: 5px;

    .title {
        background-color: $grey-light;
        width: 100%;
        padding: 5px 5px 5px 10px;
    }
}
