@import "~style/variables";

@import "~style/variables";

.content {
    padding: 10px;

    .client {
        font-weight: 700;
    }

    .address {
        margin-top: 10px;
    }

    .deliverer {
        margin-top: 5px;
        font-weight: 400;
        color: $grey-dark;
    }
}

