<div class="card">
    <div class="client-informations">{{ client }}</div>
    <div class="order-informations">
        <div class="amount">
            <div class="crate">
                <img src="assets/crate.svg">
                {{ crateAmount }} caisse{{ crateAmount > 1 ? 's' : '' }}</div>
            <div class="token">
                <img src="assets/token.svg">
                {{ tokenAmount }} jeton{{ tokenAmount > 1 ? 's' : '' }}
            </div>
        </div>
        <div class="number">
            Commande N°{{ orderNumber }}
        </div>
    </div>
</div>
