<ion-app>
    <ion-header *ngIf="this.router.url != LOGIN_PATH">
        <header>
            <div class="previous">
                <!--<button><img src="../assets/previous.svg" alt="Icone précédent"></button>-->
            </div>
            <img src="../assets/logo.svg" class="logo">
            <div class="logout">
                <button (click)="logout()">
                    <img src="../assets/logout.svg" alt="Icone de déconnexion">
                    Déconnexion
                </button>
            </div>
        </header>
    </ion-header>

    <ion-content>
        <ion-router-outlet></ion-router-outlet>
    </ion-content>

    <footer *ngIf="this.router.url != LOGIN_PATH">
        <button (click)="navigatePreparations()" [class.active]="current === PREPARATIONS">
            <img
                [src]="'../assets/navigation/' + (current === PREPARATIONS ? 'active' : 'off') + '/preparation.svg'"
                alt="Icone de préparation">
            Préparations
        </button>
        <button (click)="navigateDeliveries()" [class.active]="current === DELIVERIES">
            <img
                [src]="'../assets/navigation/' + (current === DELIVERIES ? 'active' : 'off') + '/delivery.svg'"
                alt="Icone de livraison">
            Livraisons
        </button>
        <button (click)="navigateReceptions()" [class.active]="current === RECEPTIONS">
            <img [src]="'../assets/navigation/' + (current === RECEPTIONS ? 'active' : 'off') + '/reception.svg'"
                 alt="Icone de réception">
            Réceptions
        </button>
        <button (click)="navigateCollects()" [class.active]="current === COLLECTS">
            <img
                [src]="'../assets/navigation/' + (current === COLLECTS ? 'active' : 'off') + '/collect.svg'"
                alt="Icone de collecte">
            Collectes
        </button>
    </footer>
</ion-app>
