<ion-app>
    <ion-header *ngIf="this.router.url != LOGIN_PATH">
        <header>
            <div class="previous">
                <!--<button><img src="/assets/previous.svg" alt="Icone précédent"></button>-->
            </div>
            <img src="/assets/logo.svg" class="logo">
            <div class="logout">
                <button (click)="logout()">
                    <img src="/assets/logout.svg" alt="Icone de déconnexion">
                    Déconnexion
                </button>
            </div>
        </header>
    </ion-header>

    <ion-content>
        <ion-router-outlet></ion-router-outlet>
    </ion-content>

    <footer *ngIf="showFooter && ![LOGIN_PATH, LOADING_PATH].includes(this.router.url)">
        <button *ngIf="user && user.rights.preparations" (click)="navigatePreparations()" [class.active]="navService.menu === PREPARATIONS">
            <img
                [src]="'../assets/navigation/' + (navService.menu === PREPARATIONS ? 'active' : 'off') + '/preparation.svg'"
                alt="Icone de préparation">
            Préparations
        </button>
        <button *ngIf="user && user.rights.deliveries" (click)="navigateDeliveries()" [class.active]="navService.menu === DELIVERIES">
            <img
                [src]="'../assets/navigation/' + (navService.menu === DELIVERIES ? 'active' : 'off') + '/delivery.svg'"
                alt="Icone de livraison">
            Livraisons
        </button>

        <button *ngIf="user && user.rights.receptions" (click)="navigateReceptions()" [class.active]="navService.menu === RECEPTIONS">
            <img [src]="'../assets/navigation/' + (navService.menu === RECEPTIONS ? 'active' : 'off') + '/reception.svg'"
                 alt="Icone de réception">
            Réceptions
        </button>
        <button (click)="navigateCollects()" [class.active]="navService.menu === COLLECTS">
            <img
                [src]="'../assets/navigation/' + (navService.menu === COLLECTS ? 'active' : 'off') + '/collect.svg'"
                alt="Icone de collecte">
            Collectes
        </button>
    </footer>
</ion-app>
