@import "~style/variables";

div.button:not(.round-centered-button) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 20px);
    margin: 5px 10px;

    img {
        width: 25px;
    }

    span + img {
        margin-left: 10px;
    }

    &.disabled {
        filter: grayscale(1) brightness(110%);
    }
}

.round-centered-button {
    text-align: center;
    margin-bottom: 5px;

    img {
        width: 50px;
    }
}

