@import "~style/variables";

.amount {
    display: flex;
    height: 100%;

    img {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }

    .crate {
        display: flex;
        font-weight: 700;
        font-size: 1.1rem;
    }

    .token {
        display: flex;
        font-weight: 700;
        font-size: 1.1rem;
    }
}
