@import "~style/variables";

.content {
    padding: 10px;

    .amount {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;

        img {
            width: 20px;
            height: 20px;
            margin-right: 10px;
        }

        .crate {
            display: flex;
            margin-right: 40px;
            font-weight: 700;
            margin-bottom: 10px;
        }

        .token {
            display: flex;
            font-weight: 700;
        }
    }
}
