/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "variables";
@import "fonts";
@import "forms";

@for $i from 1 through 5 {
    .mt-#{$i} {
        margin-top: #{$i * 0.5}rem !important;
    }
}

body {
    font-size: 5vw;
}

h1 {
    font-family: "Autumn Collection", serif;
    font-size: 2rem;
}

a {
    color: $orange;
    text-decoration: underline;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
