$font-family: 'Retroyal';
$font-size: 1vh;

$orange-lightest: #FDEFE8;
$orange-light: #ec6e2e;
$orange: #EB611B;

$blue-lighter: #363869;
$blue: #1E1F44;

$grey: #F8F8F8;
$grey-dark: #E5E5E5;

$invalid-lighter: #fff0f0;
$invalid: #ff4a4a;

$white: #ffffff;
$black: #000000;

//bootstrap overrides
$primary: $orange;

$base-colors: (
  "primary": $primary,
);

@function toRGBParams ($color) {
  @return red($color) + ", " + green($color) + ", " + blue($color);
}

:root {
  --ion-font-family: 'Retroyal';
  --ion-font-size: 1vh;

  @each $name, $value in $base-colors {
    $contrast-color: $white;
    --ion-color-#{$name}: #{$value};
    --ion-color-#{$name}-rgb: #{toRGBParams($value)};
    --ion-color-#{$name}-contrast: #{$contrast-color};
    --ion-color-#{$name}-contrast-rgb: #{toRGBParams($contrast-color)};
    --ion-color-#{$name}-shade: #{adjust-color($value, $lightness: -10%)};
    --ion-color-#{$name}-tint: #{adjust-color($value, $lightness: 10%)};
  }
}
