$font-family: 'Retroyal';
$font-size: 1vh;

$orange: #EB611B;
$green: #76B39D;
$blue: #1E1F44;
$lightgreen: #F9F9EC;
$red: #890620;
$yellow: #FFBF00;

$orange-light: #EC6E2E;
$orange-lightest: #FDEFE8;
$blue-light: #363869;

$grey-lighter: #BDBDBD;
$grey-light: #E5E5E5;
$grey: #BDBDBD;
$grey-dark: #6C757D;

$invalid-lighter: #fff0f0;
$invalid: #ff4a4a;

$white: #ffffff;
$black: #000000;

//bootstrap overrides
$primary: $orange;

$base-colors: (
    "primary": $primary,
);

@function toRGBParams ($color) {
    @return red($color) + ", " + green($color) + ", " + blue($color);
}

:root {
    @each $name, $value in $base-colors {
        $contrast-color: $white;
        --ion-color-#{$name}: #{$value};
        --ion-color-#{$name}-rgb: #{toRGBParams($value)};
        --ion-color-#{$name}-contrast: #{$contrast-color};
        --ion-color-#{$name}-contrast-rgb: #{toRGBParams($contrast-color)};
        --ion-color-#{$name}-shade: #{adjust-color($value, $lightness: -10%)};
        --ion-color-#{$name}-tint: #{adjust-color($value, $lightness: 10%)};
    }
}
