<bx-header [options]="depositories" (change)="getPreparations($event)" shadow></bx-header>
<div class="preparations-container">
    <div *ngIf="toPrepare.length > 0; else toPreparePreparations">
        <bx-section>à préparer <span
            class="counter">{{ toPrepare.length > 0 ? '(' + toPrepare.length + ')' : '' }}</span></bx-section>
        <div *ngFor="let preparation of toPrepare">
            <bx-card-wrapper [leftTitle]="preparation.client">
                <bx-card-order [crateAmount]="preparation.crateAmount" [tokenAmount]="preparation.tokenAmount"
                               [orderNumber]="preparation.orderNumber"
                               (click)="cratesToPrepare(preparation.id)"></bx-card-order>
            </bx-card-wrapper>
        </div>
    </div>
    <ng-template #toPreparePreparations>
        <bx-section>à préparer</bx-section>
        <bx-empty label="Aucune préparation" icon="loading.svg" class="h-100"></bx-empty>
    </ng-template>
    <div *ngIf="preparing.length > 0; else noPreparingPreparations">
        <bx-section>en cours de préparation <span class="counter">
            {{ preparing.length > 0 ? '(' + preparing.length + ')' : '' }}</span></bx-section>
        <div *ngFor="let preparation of preparing">
            <bx-card-wrapper [leftTitle]="preparation.client">
                <bx-card-order [crateAmount]="preparation.crateAmount" [tokenAmount]="preparation.tokenAmount"
                               [orderNumber]="preparation.orderNumber"
                               (click)="blocked()"></bx-card-order>
                <bx-item [leftLabel]="'Débutée par ' +  preparation.operator" [subtitle]="true"></bx-item>
            </bx-card-wrapper>
        </div>
    </div>
    <ng-template #noPreparingPreparations>
        <bx-section>en cours de préparation</bx-section>
        <bx-empty label="Aucune préparation" icon="loading.svg" class="h-100"></bx-empty>
    </ng-template>
</div>
