<ion-content *ngIf="order">
    <bx-card-client title="Livrer à"
                    [address]="order.client.address"
                    [deliverer]="order.client.contact"
                    [phoneNumber]="order.client.phone">
        <strong>{{ order.order }}. {{ order.client.name }}</strong>
    </bx-card-client>
    <bx-card-wrapper leftTitle="Contenu">
        <bx-card-content [center]="false"
                         [crateAmount]="order.crate_amount"
                         [tokenAmount]="order.token_amount"></bx-card-content>
    </bx-card-wrapper>

    <bx-section>Signature et commentaire</bx-section>
    <form>
        <div class="split">
            <bx-field [form]="form" name="signature" label="Signer*"></bx-field>
            <bx-field [form]="form" name="photo" label="Prendre une photo"
                      [counter]="form.controls.photo.control.value ? 1 : 0" [maxCounter]="1"></bx-field>
        </div>

        <bx-field [form]="form" name="comment" label="Commentaire commande" lines=2 placeholder="Écrivez ici..."></bx-field>
        <bx-field [form]="form" name="distance" label="Nombre de km réel" placeholder="0" required></bx-field>

        <br>

        <bx-button label="Terminer" icon="checked-white.svg" [hidden]="order.collect_required" (click)="finish()"></bx-button>
        <bx-button label="Terminer et collecter" icon="collect.svg" (click)="finish(true)"></bx-button>
    </form>
</ion-content>
