bx-card-client strong {
    font-size: 1.2rem;
}

form {
    width: 100%;
    padding: 0 10px;

    .split {
        display: flex;
        flex-direction: row;
        width: 100%;

        & > * {
            flex: 1 1 50%;
        }
    }
}
