<ion-header>
    <ion-toolbar>
        <ion-title class="ion-text-center">
            <bx-header>Identification des box</bx-header>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <bx-section>{{ crate }}</bx-section>
    <bx-card-wrapper *ngFor="let box of boxes" [hideTitle]="true">
        <bx-item [leftLabel]="box.boxNumber + ' - ' + box.boxType" icon="trash.svg"
                 (action)="deleteBox(box)">
        </bx-item>
    </bx-card-wrapper>
</ion-content>

<ion-footer>
    <bx-button label="Flasher Box" icon="scan.svg" [scanner]="true"></bx-button>
    <bx-button label="Suivant" icon="next.svg" (click)="next()" iconWidth="15px"></bx-button>
</ion-footer>
