<ion-refresher slot="fixed" (ionRefresh)="ionViewWillEnter($event)">
    <ion-refresher-content></ion-refresher-content>
</ion-refresher>

<ion-content>
    <div class="content">
        <div class="crates" *ngIf="pendingCollects.length; else noPendingCollects">
            <bx-card-order-detail *ngFor="let pendingCollect of pendingCollects"
                                   [title]="pendingCollect.client"
                                   status="En transit"
                                   [label]=" pendingCollect.depository ? ('Dépôt ' + pendingCollect.depository) : ''"
                                   [number]="'Collecte N°' + pendingCollect.number"
                                   [crateAmount]="pendingCollect.crate_amount"
                                   [tokenAmount]="pendingCollect.token_amount"
                                   (click)="treat(pendingCollect)">

        </bx-card-order-detail>
        </div>
    </div>
</ion-content>

<ng-template #noPendingCollects>
    <bx-empty label="Aucune collecte à traiter" icon="loading.svg"></bx-empty>
</ng-template>

<ion-footer class="no-border">
    <bx-button icon="add.svg" (click)="new()" [roundCenteredButton]="true" type=""></bx-button>
</ion-footer>
